body {
    font-size: inherit;
    font-family: 'Roboto', 'Noto Sans KR';
}

p {
    line-height: 1.3;
    word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Noto Sans KR';
}

.inner {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
}

@media(max-width:768px) {
    .inner {
        flex-direction: column;
        width: auto;
        padding: 0 15px;
    }
}

/* iframe_case */
.iframe_case {
    position: relative;
    padding-bottom: 56.25%;

}

.iframe_case iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.latest {
    line-height: 40px;
    font-size: 15px;
}

.latest li {
    display: flex;
    gap: 20px;
    padding: 0 5px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.latest span::before {
    content: "[";
}

.latest span::after {
    content: "]";
}




/* header */

.Wrap {
    overflow-x: hidden;
}

.header .top_banner {
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    line-height: 30px;
}

.header .inner {
    justify-content: space-between;
}

.header .top_link {
    display: flex;
}

.header .top_link li {
    padding: 0 15px;
    border-right: 1px solid #ddd;
    text-transform: uppercase;
}



@media(max-width:768px) {
    .header .top_banner .inner {
        padding: 0 0;
    }

    .header .top_banner .left {
        display: none;
    }

    .header .top_link {
        justify-content: flex-end;
    }

}

.header .head_container {
    border-bottom: 1px solid #ddd;
    line-height: 100px;
}



.header h1 img {
    height: 70px;
}

.header .gnb>ul {
    display: flex;

}

.header .gnb>ul>li {
    position: relative;

}

.header .gnb>ul>li~li::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 13px;
    background: #ddd;
}

.header .gnb>ul>li>a {
    display: inline-block;
    padding: 0 30px;
    font-size: 18px;
}

.header .gnb>ul>li .submenu {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
    background: #fff;
    border: 3px solid #337689;
    line-height: 40px;
    font-size: 13px;

    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.header .gnb>ul>li:hover .submenu {
    top: 90px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;

}

.header .gnb>ul>li .submenu li {
    padding: 0 0 0 15px;
}

.header .gnb>ul>li .submenu li~li {
    border-top: 1px solid #ddd;
}




@media(max-width:768px) {

    .header h1 img {
        position: fixed;
        z-index: 1001;
    }

    .header .gnb {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        width: calc(100% - 90px);
        height: 100vh;
        background: #337689;
        border-right: 1px solid #333;

    }




    .header .gnb>ul {
        padding: 150px 15px 0 15px;
        flex-direction: column;
        line-height: 40px;
    }

    .header .gnb>ul>li {
        position: relative;
        border-bottom: 1px solid #ddd;
    }

    .header .gnb>ul>li~li::before {
        display: none;
    }

    .header .gnb>ul>li>a {
        display: block;
        padding: 0 0;
        font-size: 18px;
    }

    .header .gnb>ul>li .submenu {
        position: static;

        transform: translate(0, 0);
        width: auto;
        background: #fff;
        border: 3px solid #337689;
        line-height: 40px;
        font-size: 13px;

        opacity: 1;
        visibility: visible;


        /* display: none; */
    }

    .header .gnb>ul>li:last-child {
        display: none;
    }

    .header .gnb>ul>li:hover .submenu {

        transition: none;

    }

    .header .gnb>ul>li .submenu li {
        padding: 0 0 0 15px;
    }

    .header .gnb>ul>li .submenu li~li {
        border-top: 1px solid #ddd;
    }

}






/* mainVisual */
.mainVisual {
    position: relative;
    padding: 100px 0;
    border-top: 5px solid #337689;
    border-bottom: 3px solid #337689;
}

.mainVisual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg)no-repeat center bottom/cover;
    /* filter: grayscale(0.5); */
}

.mainVisual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(245, 239, 239, 0.7), transparent)
}


@media(max-width:768px) {
    .mainVisual {
        position: relative;
        padding: 0 0;
        border-bottom: none;
    }

    .mainVisual::before {
        display: none;
    }

    .mainVisual::after {
        display: none;
    }

    .mainVisual .main_slide {
        width: auto;

    }

}

.mainVisual .main_slide {
    width: 800px;
    margin: 0 auto;
    border: 3px solid #337689;
    z-index: 999;
}

.mainVisual .m_link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 1200px;
    background: #fff;
    z-index: 1000;
    line-height: 60px;
    border-bottom: 3px solid #337689;
}

.mainVisual .m_link>ul {
    display: flex;
}

.mainVisual .m_link>ul>li {
    flex: 1;
}

.mainVisual .m_link>ul>li~li {
    border-left: 1px solid #ddd;
}

.mainVisual .m_link>a {
    display: none;
}

.mainVisual .m_link>ul>li a {
    display: block;
    padding: 0 0 0 30px;
}

.mainVisual .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 0;
    background: transparent;
    border: none;
    outline: none;

    width: 50px;
    height: 50px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.mainVisual .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -573px;
}

.mainVisual .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 573px;
}

@media(max-width:768px) {

    .mainVisual .main_slide {
        width: auto;
        margin: 0 auto;
        border: 3px solid #337689;
        z-index: 999;
    }

    .mainVisual .m_link {
        position: static;
        bottom: 0;
        left: 50%;
        transform: translate(0, 0);
        width: auto;
        background: #fff;
        z-index: 1000;
        line-height: 60px;
        border-bottom: 3px solid #337689;
    }

    .mainVisual .m_link>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
        padding: 10px 10px 10px 10px;
    }

    .mainVisual .m_link>ul>li {
        border: 1px solid #ddd;
    }

    .mainVisual .slick-arrow {
        display: none !important;
    }



}





/* main_map */
.main_map ._map_ {
    width: 100%;
    height: 300px;
    filter: grayscale(0.5);
    border-bottom: 1px solid #337689;
}

@media(max-width:768px) {
    .main_map {

        padding: 20px 15px;
    }

    .main_map ._map_ {

        height: 200px;

    }
}






/* mainCustomer */
.mainCustomer {
    padding: 50px 0;
}

.mainCustomer .inner {
    gap: 30px;
}

.mainCustomer .inner>div {
    flex: 2;
    overflow: hidden;
}

.mainCustomer .inner>div:not(.news) {
    flex: 1;
}

.mainCustomer .sang {
    text-align: center;
}

.mainCustomer .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: 14px;
}

.mainCustomer .contact a {
    display: block;
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 500;
    align-self: flex-end;
}

.mainCustomer .contact i {
    color: tomato;
    font-size: 40px;
}

.mainCustomer h3 {
    line-height: 40px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto Sans KR';
    border-bottom: 1px solid #337689;
    text-transform: uppercase;
}

.mainCustomer h3 a {
    float: right;
}

@media(max-width:768px) {

    .mainCustomer .contact {
        text-align: center;
    }

    .mainCustomer .contact a {

        align-self: center;
    }

    .mainCustomer .contact a:first-child {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;

        margin: 0 0;
        padding: 7px 30px;
        text-align: left;
        color: #fff;
        background: #337689;
        width: 100%;
    }

    .mainCustomer .contact a:first-child::before {
        content: "\ec27";
        font-family: xeicon;
        color: #fff;
        margin: 0 10px;
    }


}




/* footer */
.footer {
    padding: 40px 0;
    background: #337689;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    gap: 10px;
}


@media(max-width:768px) {
    .footer {
        padding: 40px 0 70px 0;

    }

    .footer ul {
        flex-direction: column;

        margin: 0 0 20px 0;
        gap: 5px;
    }
}


/* sub page */



#sub .sub_banner {
    position: relative;
    background-position: center bottom;
    background-size: cover;
    color: #fff;
}

#sub .sub_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent 50%, #337689 50%);
}

#sub .sub_banner strong {
    margin: 0 0 10px 0;
    font-size: 20px;
}

#sub .sub_banner span {
    font-size: 15px;
    font-weight: 300;
}

#sub .sub_banner .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    height: 100px;
}

#sub .sub_page {
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}

#sub .sub_page ul {
    display: flex;
    gap: 60px;
    font-size: 14px;
    overflow: hidden;
}

#sub .sub_page ul>li {
    position: relative;
}

#sub .sub_page ul>li::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -25px;
    width: 60px;
    height: 60px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    transform: rotate(45deg);
}

#sub .sub_container .article {
    flex: 7;
    padding: 50px 50px 100px 0;
    border-right: 1px solid #ddd;
}

#sub .sub_container .article h3 {
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 30px 0;
}

#sub .sub_container .article h3 span {
    color: #ccc;
    font-size: 16px;
    margin: 0 0 0 10px;
}

#sub .sub_container .aside {
    flex: 3;
    padding: 50px 0 100px 50px;
}

#sub .aside_menu {
    margin: 0 0 100px 0;
}

#sub .aside_menu>a {
    display: none;
}

#sub .aside_menu ul>li {
    line-height: 40px;
}

#sub .aside_menu ul>li>a {
    position: relative;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 0 0 0 30px;
}

#sub .aside_menu ul>li.on>a {
    background: #337689;
    color: #fff;

}

#sub .aside_menu ul>li>a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 4px;
    background: #337689;
    transform: translate(0, -50%);
}



#sub .aside_customer strong {
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 30px 0;
}

#sub .aside_customer strong i {
    float: right;
    padding: 8px;
    background: #337689;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    margin: -20px 0 0 0;
}

#sub .aside_customer a {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

#sub .aside_customer ul>li {
    margin: 0 0 5px 0;
}














/* toTop */
.toTop {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 1000;
}

.toTop i {
    padding: 10px;
    font-size: 40px;
    background: #ff6347;
    color: #fff;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.toTop.on i {
    opacity: 1;
    visibility: visible;
}

@media(max-width:768px) {
    .toTop {

        bottom: 0;
        right: 0;
    }


    .toTop i {
        padding: 9px;

    }
}


.mopen {
    position: fixed;
    top: 60px;
    right: 15px;
    border: none;
    background: transparent;
    display: none;
    z-index: 999;
}

.mopen i {
    background: #f7f7f7;
    padding: 8px;
    font-size: 20px;

}


@media(max-width:768px) {
    .mopen {
        display: block;
    }
}